<section class="account">
  <section class="account__banner">
    <img src="assets/img/explore/fitness.jpg" alt="" class="account__background">
    <img src="assets/img/placeholder.jpg" alt="" class="account__picture">
  </section>
  <section class="account__info">
    <h1>Pucho</h1>
    <p>Registered at: 24/04/2020</p>
    <section class="d-flex">
      <a href="#" type="button" class="btn btn-primary mr-2">Editar</a>
      <a href="#" type="button" class="btn btn-primary">Eliminar</a>
    </section>
  </section>
</section>
