<section>
  <p><ngb-progressbar type="info" [value]="0" width="100%">0%</ngb-progressbar></p>
  <section class="login__basics">
    <h2>Empecemos por lo básico</h2>
    <p>Cuéntanos más de tí. Nunca compartiremos esta información con nadie.</p>
    <input id="name" type="text" placeholder="Ingresa tu nombre cmopleto" class="form form-control mb-3">
    <input id="email" type="email" placeholder="Tu correo electrónico" class="form form-control mb-3">
    <input id="password" type="password" placeholder="Ingresa una contraseña" class="form form-control mb-3">
    <button class="btn btn-primary-full btn-fluid p-2">
      ¡Registrarse!
    </button>
  </section>
</section>
