<div class="d-flex justify-content-center">
  <table class="table admin-table">
    <thead>
    <tr>
      <th scope="col" width="10%">#</th>
      <th scope="col" width="60%">Nombre</th>
      <th scope="col" width="30%">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th scope="row" width="10%">{{user.id}}</th>
      <td width="60%">{{user.name}}</td>
      <td width="30%">
        <a routerLink="{{'/admin/user/edit/' + user.id}}" class="btn btn-info mr-1">
          <i class="fas fa-edit"></i>
          <span class="admin-table__tag"> Editar</span>
        </a>
        <a (click)="deleteUser(user.id + '')" class="btn btn-danger" >
          <i class="fas fa-trash-alt"></i>
          <span class="admin-table__tag"> Eliminar</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
