<div class="d-flex justify-content-center">
  <table class="table admin-table">
    <thead>
    <tr>
      <th scope="col" width="10%">#</th>
      <th scope="col" width="60%">Nombre</th>
      <th scope="col" width="30%">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" width="10%">1</th>
      <td width="60%">Pepe Gomez</td>
      <td width="30%">
        <a href="#" class="btn btn-success mr-1" >
          <i class="fas fa-eye"></i>
          <span class="admin-table__tag"> Ver</span>
        </a>
        <a href="#" class="btn btn-info mr-1" >
          <i class="fas fa-edit"></i>
          <span class="admin-table__tag"> Editar</span>
        </a>
        <a href="#" class="btn btn-danger" >
          <i class="fas fa-trash-alt"></i>
          <span class="admin-table__tag"> Eliminar</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
