<svg *ngIf="!hidden" class="figurine" viewBox="0 0 1920 232">
  <path d="M0,1080S198.5,869.75,605.75,899c0,0,423,99,663.75,0,0,0,263.25-114.75,540,0,0,0,97.25,50,110.5,66v115Z" transform="translate(0 -848)"/>
</svg>
<footer *ngIf="!hidden">
  <div class="container">
    <section class="row footer__inner">
      <div class="col-12 col-md-4">
        <ul>
          <li><strong>Políticas</strong></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          <li><strong>Categorías</strong></li>
          <li><a href="#">Fitness A</a></li>
          <li><a href="#">Fitness B</a></li>
          <li><a href="#">Fatness</a></li>
          <li><a href="#">Fitness</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          <li><strong>Ayuda</strong></li>
          <li><a href="#">Como registrarte</a></li>
          <li><a href="#">Haz parte de nosotros</a></li>
          <li><a href="#">¿Quienes somos?</a></li>
        </ul>
      </div>
    </section>
  </div>
  <ul class="footer__social d-flex list-unstyled">
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <section class="copyright text-center">
    &copy; Todos los derechos reservados a FitnessApp {{date.getFullYear()}}
  </section>
</footer>
