<ngb-carousel *ngIf="images" class="slider">
  <ng-template ngbSlide>
    <div class="home__slider">
      <section class="home__image">
        <img [src]="images[0]" alt="Random first slide">
      </section>
      <section class="home__slider-text">
        <h1>Ejercitate</h1>
        <p>En forma siempre con los mejores videos deportivos.</p>
      </section>
    </div>
  </ng-template>
</ngb-carousel>
<section class="home__recents container">
  <div class="row">
    <div class="col-12 col-md-6">
      <section class="home__recents-title">
        <h2>Videos recientes</h2>
        <p>Los recién llegados</p>
      </section>
    </div>
    <div class="col-12 col-md-6 pb-2 pb-md-0">
      <ul ngbNav #videoNav="ngbNav" class="nav-tabs home__recents-nav">
        <li ngbNavItem>
          <a ngbNavLink>Gym</a>
          <ng-template ngbNavContent>
            <section class="row">
              <div *ngFor="let video of videos.first; let i = index" class="col-6 home__recents-thumb">
                <iframe *ngIf="i !== 0" [src]="'https://www.youtube.com/embed/' + video.video.id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </section>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Yoga</a>
          <ng-template ngbNavContent>
            <section class="row">
              <div *ngFor="let video of videos.first; let i = index" class="col-6 home__recents-thumb">
                <iframe [src]="'https://www.youtube.com/embed/' + video.video.id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </section>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Deportes</a>
          <ng-template ngbNavContent>
            <section class="row">
              <div *ngFor="let video of videos.first; let i = index" class="col-6 home__recents-thumb">
                <iframe [src]="'https://www.youtube.com/embed/' + video.video.id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </section>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="home__recents-video d-none d-md-block">
        <iframe [src]="'https://www.youtube.com/embed/' + videos.first[0].video.id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div [ngbNavOutlet]="videoNav"></div>
    </div>
  </div>
</section>
