<div class="text-right admin-table mb-2">
  <a routerLink="/admin/category/create" class="btn btn-info mr-1">
    <i class="fas fa-edit"></i>
    <span class="admin-table__tag"> Crear</span>
  </a>
</div>
<div class="d-flex justify-content-center">
  <table class="table admin-table">
    <thead>
    <tr>
      <th scope="col" width="10%">#</th>
      <th scope="col" width="60%">Nombre</th>
      <th scope="col" width="30%">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <th width="10%" scope="row">{{category.id}}</th>
      <td width="60%">{{category.name}}</td>
      <td width="30%">
        <a routerLink="{{'/admin/category/edit/' + category.id}}" class="btn btn-info mr-1">
          <i class="fas fa-edit"></i>
          <span class="admin-table__tag"> Editar</span>
        </a>
        <a (click)="deleteCategory(category.id + '')" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>
          <span class="admin-table__tag"> Eliminar</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

