<section class="header__sidebar" #responsiveSidebar></section>
<header *ngIf="!hidden" id="header">
  <section class="header__main">
    <span class="header__menu">
      <button class="hamburger hamburger--elastic" type="button" appResponsiveMenu [sidebar]="responsiveSidebar" [blocking]="blocking">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      </button>
    </span>
    <a href="#" class="header__logo">
      <i class="fas fa-running"></i>
      FitnessApp
    </a>
  </section>
  <section class="header__input">
    <input type="text" placeholder="Buscar un video">
    <button><i class="fas fa-search"></i></button>
  </section>
  <ul class="header__navigation">
    <li>Recomendados</li>
    <li>Rutinas</li>
  </ul>
  <section class="header__login">
    <a href="#" class="btn-primary">Inicia sesión</a>
    <a href="#" class="btn btn-outline-info">Registrate</a>
  </section>
</header>
<section #blocking></section>
