<section class="header__sidebar" #responsiveSidebar></section>
<header *ngIf="!hidden" id="header">
  <section class="header__main">
    <span class="header__menu">
      <button class="hamburger hamburger--elastic" type="button" appResponsiveMenu [sidebar]="responsiveSidebar" [blocking]="blocking">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      </button>
    </span>
    <a routerLink="/" class="header__logo">
      <i class="fas fa-running"></i>
      FitnessApp
    </a>
  </section>
  <section class="header__input">
    <input type="text" placeholder="Buscar un video">
    <button><i class="fas fa-search"></i></button>
  </section>
  <ul class="header__navigation">
    <li>Recomendados</li>
    <li>Rutinas</li>
  </ul>
  <section *ngIf="!logged" class="header__login">
    <a routerLink="/login" class="btn-primary">Inicia sesión</a>
    <a routerLink="/register" class="btn btn-outline-info">Registrate</a>
  </section>
  <section *ngIf="logged" class="header__profile">
    <button type="button" class="btn" (click)="headerCollapsed = !headerCollapsed"
            [attr.aria-expanded]="!headerCollapsed" aria-controls="collapseHeader">
      <i class="fas fa-user header__profile-responsive-icon"></i>
      <span>{{user.name.split(" ")[0].substring(0, 16)}} <i class="fas fa-sort-down"></i></span>
    </button>
    <div class="header__profile-dropdown" [ngbCollapse]="headerCollapsed">
      <div class="card">
        <div class="card-body">
          <a class="dropdown-item btn btn-primary-full mb-1" href="#">
            <i class="fas fa-key"></i>
            Housekeeping
          </a>
          <a class="dropdown-item" routerLink="/user/account">Mi Cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer" (click)="logout()">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </section>
</header>
<section #blocking></section>
