<div class="d-flex justify-content-center">
  <div class="container mb-3">
    <h1 class="mb-3">{{title}}</h1>
    <form #categoryForm="ngForm" (ngSubmit)="alterRequest()">
      <div class="col-12 col-md-6">
        <input
          id="name"
          name="name"
          #name="ngModel"
          [(ngModel)]="category.name"
          type="text"
          placeholder="Nombre"
          class="form form-control mb-3"
          [class.is-invalid]="!name.valid && name.touched"
          required
        >
      </div>
      <div class="col-12 col-md-6">
        <section class="text-right">
          <button class="btn btn-primary-full" [disabled]="!categoryForm.valid">Actualizar</button>
        </section>
      </div>
    </form>
  </div>
</div>
