<section class="video-filter">
  <button type="button" class="btn btn-primary-full" (click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed" aria-controls="collapseExample">
    <i class="fas fa-filter"></i> Filtros
  </button>
</section>
<section class="video-filter__container text-center text-md-left" [ngbCollapse]="collapsed">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <section class="col-12 col-md-4">
          <ul class="list-unstyled">
            <li><strong>Categoría</strong></li>
            <li><a class="cursor-pointer" (click)="filter({})">Yoga</a></li>
            <li><a class="cursor-pointer" (click)="filter({})">Fitness</a></li>
            <li><a class="cursor-pointer" (click)="filter({})">Fatness</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</section>
<ul class="video-search list-unstyled">
  <li *ngFor="let video of videos" class="video-search__item">
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-center mb-3 mb-md-0">
        <img src="{{video.youtube.snippet.thumbnails.medium.url}}" alt="{{video.youtube.snippet.title}}">
      </div>
      <div class="col-12 col-md-8">
        <div class="row h-100 text-center text-md-left">
          <div class="col-12 col-md-8">
            <h3 class="video-search__title">{{video.youtube.snippet.title}}</h3>
            <ul class="video-search__tags">
              <li>
                <span class="badge badge-pill badge-primary">{{video.video.tag.name}}</span>
              </li>
            </ul>
            <!--
            <section class="video-search__rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </section>
            -->
          </div>
          <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
            <a routerLink="{{'/video/play/' + video.video.id}}" class="btn btn-primary-full mt-2 mt-md-0">Ver video</a>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
