<section class="video">
  <section class="d-flex justify-content-center">
    <iframe class="video__player" [src]="'https://www.youtube.com/embed/' + video.video.id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <div class="container">
    <section class="row">
      <section class="col-12 col-lg-6 text-center text-lg-left">
        <h1>{{video.youtube.snippet.title}}</h1>
        <ul class="video-search__tags">
          <li>
            <span class="badge badge-pill badge-primary">{{video.video.tag.name}}</span>
          </li>
        </ul>
      </section>
      <section class="col-12 col-lg-6 d-flex video__description">
        <!--<img src="assets/img/placeholder.jpg" alt="Channel" class="video__channel-image">-->
        <section>
          <h5>{{video.youtube.snippet.channelTitle}}</h5>
          <span class="video__channel-uploaded">Publicado el {{video.youtube.snippet.publishedAt}}</span>
        </section>
      </section>
    </section>
    <div class="row">
      <section class="col-12 col-lg-6">
        <p class="video__description">
          {{video.youtube.snippet.description}}
        </p>
      </section>
      <!--
      <section class="col-12 col-lg-6">
        <ul class="ratings">
          <li>
            <img src="assets/img/placeholder.jpg" alt="">
            <section class="ratings__rated">
              <h6>Rating name</h6>
              <section class="video-search__rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </section>
            </section>
          </li>
        </ul>
        <section class="ratings__rate">
          <h3>Califícalo: </h3>
          <section class="video-search__rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </section>
        </section>
      </section>
      -->
    </div>
  </div>
</section>
